<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ticker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: 50px auto;
            background-color: white;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #333;
        }
        button {
            background-color: #3498db;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: #2980b9;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, select {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Update Ticker</h2>
        <form method="post">
            {% csrf_token %}
            <label for="ticker_name">Ticker Name:</label>
            <input type="text" id="ticker_name" name="ticker_name" value="{{ ticker.ticker_name }}" required>
            
            <label for="ticker_symbol">Ticker Symbol:</label>
            <input list="ticker_symbols" id="ticker_symbol" name="ticker_symbol" value="{{ ticker.ticker_symbol }}" required>
            <datalist id="ticker_symbols">
                <option value="360ONE">360ONE</option>
                <option value="3MINDIA">3MINDIA</option>
                <option value="ABB">ABB</option>
                <option value="ACC">ACC</option>
                <option value="AIAENG">AIAENG</option>
                <option value="APLAPOLLO">APLAPOLLO</option>
                <option value="AUBANK">AUBANK</option>
                <option value="AARTIIND">AARTIIND</option>
                <option value="AAVAS">AAVAS</option>
                <option value="ABBOTINDIA">ABBOTINDIA</option>
                <option value="ACE">ACE</option>
                <option value="ADANIENSOL">ADANIENSOL</option>
                <option value="ADANIENT">ADANIENT</option>
                <option value="ADANIGREEN">ADANIGREEN</option>
                <option value="ADANIPORTS">ADANIPORTS</option>
                <option value="ADANIPOWER">ADANIPOWER</option>
                <option value="ATGL">ATGL</option>
                <option value="AWL">AWL</option>
                <option value="ABCAPITAL">ABCAPITAL</option>
                <option value="ABFRL">ABFRL</option>
                <option value="AEGISLOG">AEGISLOG</option>
                <option value="AETHER">AETHER</option>
                <option value="AFFLE">AFFLE</option>
                <option value="AJANTPHARM">AJANTPHARM</option>
                <option value="APLLTD">APLLTD</option>
                <option value="ALKEM">ALKEM</option>
                <option value="ALKYLAMINE">ALKYLAMINE</option>
                <option value="ALLCARGO">ALLCARGO</option>
                <option value="ALOKINDS">ALOKINDS</option>
                <option value="ARE&M">ARE&M</option>
                <option value="AMBER">AMBER</option>
                <option value="AMBUJACEM">AMBUJACEM</option>
                <option value="ANANDRATHI">ANANDRATHI</option>
                <option value="ANGELONE">ANGELONE</option>
                <option value="ANURAS">ANURAS</option>
                <option value="APARINDS">APARINDS</option>
                <option value="APOLLOHOSP">APOLLOHOSP</option>
                <option value="APOLLOTYRE">APOLLOTYRE</option>
                <option value="APTUS">APTUS</option>
                <option value="ACI">ACI</option>
                <option value="ASAHIINDIA">ASAHIINDIA</option>
                <option value="ASHOKLEY">ASHOKLEY</option>
                <option value="ASIANPAINT">ASIANPAINT</option>
                <option value="ASTERDM">ASTERDM</option>
                <option value="ASTRAZEN">ASTRAZEN</option>
                <option value="ASTRAL">ASTRAL</option>
                <option value="ATUL">ATUL</option>
                <option value="AUROPHARMA">AUROPHARMA</option>
                <option value="AVANTIFEED">AVANTIFEED</option>
                <option value="DMART">DMART</option>
                <option value="AXISBANK">AXISBANK</option>
                <option value="BEML">BEML</option>
                <option value="BLS">BLS</option>
                <option value="BSE">BSE</option>
                <option value="BAJAJ-AUTO">BAJAJ-AUTO</option>
                <option value="BAJFINANCE">BAJFINANCE</option>
                <option value="BAJAJFINSV">BAJAJFINSV</option>
                <option value="BAJAJHLDNG">BAJAJHLDNG</option>
                <option value="BALAMINES">BALAMINES</option>
                <option value="BALKRISIND">BALKRISIND</option>
                <option value="BALRAMCHIN">BALRAMCHIN</option>
                <option value="BANDHANBNK">BANDHANBNK</option>
                <option value="BANKBARODA">BANKBARODA</option>
                <option value="BANKINDIA">BANKINDIA</option>
                <option value="MAHABANK">MAHABANK</option>
                <option value="BATAINDIA">BATAINDIA</option>
                <option value="BAYERCROP">BAYERCROP</option>
                <option value="BERGEPAINT">BERGEPAINT</option>
                <option value="BDL">BDL</option>
                <option value="BEL">BEL</option>
                <option value="BHARATFORG">BHARATFORG</option>
                <option value="BHEL">BHEL</option>
                <option value="BPCL">BPCL</option>
                <option value="BHARTIARTL">BHARTIARTL</option>
                <option value="BIKAJI">BIKAJI</option>
                <option value="BIOCON">BIOCON</option>
                <option value="BIRLACORPN">BIRLACORPN</option>
                <option value="BSOFT">BSOFT</option>
                <option value="BLUEDART">BLUEDART</option>
                <option value="BLUESTARCO">BLUESTARCO</option>
                <option value="BBTC">BBTC</option>
                <option value="BORORENEW">BORORENEW</option>
                <option value="BOSCHLTD">BOSCHLTD</option>
                <option value="BRIGADE">BRIGADE</option>
                <option value="BRITANNIA">BRITANNIA</option>
                <option value="MAPMYINDIA">MAPMYINDIA</option>
                <option value="CCL">CCL</option>
                <option value="CESC">CESC</option>
                <option value="CGPOWER">CGPOWER</option>
                <option value="CIEINDIA">CIEINDIA</option>
                <option value="CRISIL">CRISIL</option>
                <option value="CSBBANK">CSBBANK</option>
                <option value="CAMPUS">CAMPUS</option>
                <option value="CANFINHOME">CANFINHOME</option>
                <option value="CANBK">CANBK</option>
                <option value="CAPLIPOINT">CAPLIPOINT</option>
                <option value="CGCL">CGCL</option>
                <option value="CARBORUNIV">CARBORUNIV</option>
                <option value="CASTROLIND">CASTROLIND</option>
                <option value="CEATLTD">CEATLTD</option>
                <option value="CELLO">CELLO</option>
                <option value="CENTRALBK">CENTRALBK</option>
                <option value="CDSL">CDSL</option>
                <option value="CENTURYPLY">CENTURYPLY</option>
                <option value="CENTURYTEX">CENTURYTEX</option>
                <option value="CERA">CERA</option>
                <option value="CHALET">CHALET</option>
                <option value="CHAMBLFERT">CHAMBLFERT</option>
                <option value="CHEMPLASTS">CHEMPLASTS</option>
                <option value="CHENNPETRO">CHENNPETRO</option>
                <option value="CHOLAHLDNG">CHOLAHLDNG</option>
                <option value="CHOLAFIN">CHOLAFIN</option>
                <option value="CIPLA">CIPLA</option>
                <option value="CUB">CUB</option>
                <option value="CLEAN">CLEAN</option>
                <option value="COALINDIA">COALINDIA</option>
                <option value="COCHINSHIP">COCHINSHIP</option>
                <option value="COFORGE">COFORGE</option>
                <option value="COLPAL">COLPAL</option>
                <option value="CAMS">CAMS</option>
                <option value="CONCORDBIO">CONCORDBIO</option>
                <option value="CONCOR">CONCOR</option>
                <option value="COROMANDEL">COROMANDEL</option>
                <option value="CRAFTSMAN">CRAFTSMAN</option>
                <option value="CREDITACC">CREDITACC</option>
                <option value="CROMPTON">CROMPTON</option>
                <option value="CUMMINSIND">CUMMINSIND</option>
                <option value="CYIENT">CYIENT</option>
                <option value="DCMSHRIRAM">DCMSHRIRAM</option>
                <option value="DLF">DLF</option>
                <option value="DOMS">DOMS</option>
                <option value="DABUR">DABUR</option>
                <option value="DALBHARAT">DALBHARAT</option>
                <option value="DATAPATTNS">DATAPATTNS</option>
                <option value="DEEPAKFERT">DEEPAKFERT</option>
                <option value="DEEPAKNTR">DEEPAKNTR</option>
                <option value="DELHIVERY">DELHIVERY</option>
                <option value="DEVYANI">DEVYANI</option>
                <option value="DIVISLAB">DIVISLAB</option>
                <option value="DIXON">DIXON</option>
                <option value="LALPATHLAB">LALPATHLAB</option>
                <option value="DRREDDY">DRREDDY</option>
                <option value="DUMMYRAYMD">DUMMYRAYMD</option>
                <option value="DUMMYSANOF">DUMMYSANOF</option>
                <option value="EIDPARRY">EIDPARRY</option>
                <option value="EIHOTEL">EIHOTEL</option>
                <option value="EPL">EPL</option>
                <option value="EASEMYTRIP">EASEMYTRIP</option>
                <option value="EICHERMOT">EICHERMOT</option>
                <option value="ELECON">ELECON</option>
                <option value="ELGIEQUIP">ELGIEQUIP</option>
                <option value="EMAMILTD">EMAMILTD</option>
                <option value="ENDURANCE">ENDURANCE</option>
                <option value="ENGINERSIN">ENGINERSIN</option>
                <option value="EQUITASBNK">EQUITASBNK</option>
                <option value="ERIS">ERIS</option>
                <option value="ESCORTS">ESCORTS</option>
                <option value="EXIDEIND">EXIDEIND</option>
                <option value="FDC">FDC</option>
                <option value="NYKAA">NYKAA</option>
                <option value="FEDERALBNK">FEDERALBNK</option>
                <option value="FACT">FACT</option>
                <option value="FINEORG">FINEORG</option>
                <option value="FINCABLES">FINCABLES</option>
                <option value="FINPIPE">FINPIPE</option>
                <option value="FSL">FSL</option>
                <option value="FIVESTAR">FIVESTAR</option>
                <option value="FORTIS">FORTIS</option>
                <option value="GAIL">GAIL</option>
                <option value="GMMPFAUDLR">GMMPFAUDLR</option>
                <option value="GMRINFRA">GMRINFRA</option>
                <option value="GRSE">GRSE</option>
                <option value="GICRE">GICRE</option>
                <option value="GILLETTE">GILLETTE</option>
                <option value="GLAND">GLAND</option>
                <option value="GLAXO">GLAXO</option>
                <option value="GLS">GLS</option>
                <option value="GLENMARK">GLENMARK</option>
                <option value="MEDANTA">MEDANTA</option>
                <option value="GPIL">GPIL</option>
                <option value="GODFRYPHLP">GODFRYPHLP</option>
                <option value="GODREJCP">GODREJCP</option>
                <option value="GODREJIND">GODREJIND</option>
                <option value="GODREJPROP">GODREJPROP</option>
                <option value="GRANULES">GRANULES</option>
                <option value="GRAPHITE">GRAPHITE</option>
                <option value="GRASIM">GRASIM</option>
                <option value="GESHIP">GESHIP</option>
                <option value="GRINDWELL">GRINDWELL</option>
                <option value="GAEL">GAEL</option>
                <option value="FLUOROCHEM">FLUOROCHEM</option>
                <option value="GUJGASLTD">GUJGASLTD</option>
                <option value="GMDCLTD">GMDCLTD</option>
                <option value="GNFC">GNFC</option>
                <option value="GPPL">GPPL</option>
                <option value="GSFC">GSFC</option>
                <option value="GSPL">GSPL</option>
                <option value="HEG">HEG</option>
                <option value="HBLPOWER">HBLPOWER</option>
                <option value="HCLTECH">HCLTECH</option>
                <option value="HDFCAMC">HDFCAMC</option>
                <option value="HDFCBANK">HDFCBANK</option>
                <option value="HDFCLIFE">HDFCLIFE</option>
                <option value="HFCL">HFCL</option>
                <option value="HAPPSTMNDS">HAPPSTMNDS</option>
                <option value="HAPPYFORGE">HAPPYFORGE</option>
                <option value="HAVELLS">HAVELLS</option>
                <option value="HEROMOTOCO">HEROMOTOCO</option>
                <option value="HSCL">HSCL</option>
                <option value="HINDALCO">HINDALCO</option>
                <option value="HAL">HAL</option>
                <option value="HINDCOPPER">HINDCOPPER</option>
                <option value="HINDPETRO">HINDPETRO</option>
                <option value="HINDUNILVR">HINDUNILVR</option>
                <option value="HINDZINC">HINDZINC</option>
                <option value="POWERINDIA">POWERINDIA</option>
                <option value="HOMEFIRST">HOMEFIRST</option>
                <option value="HONASA">HONASA</option>
                <option value="HONAUT">HONAUT</option>
                <option value="HUDCO">HUDCO</option>
                <option value="ICICIBANK">ICICIBANK</option>
                <option value="ICICIGI">ICICIGI</option>
                <option value="ICICIPRULI">ICICIPRULI</option>
                <option value="ISEC">ISEC</option>
                <option value="IDBI">IDBI</option>
                <option value="IDFCFIRSTB">IDFCFIRSTB</option>
                <option value="IDFC">IDFC</option>
                <option value="IIFL">IIFL</option>
                <option value="IRB">IRB</option>
                <option value="IRCON">IRCON</option>
                <option value="ITC">ITC</option>
                <option value="ITI">ITI</option>
                <option value="INDIACEM">INDIACEM</option>
                <option value="INDIAMART">INDIAMART</option>
                <option value="INDIANB">INDIANB</option>
                <option value="IEX">IEX</option>
                <option value="INDHOTEL">INDHOTEL</option>
                <option value="IOC">IOC</option>
                <option value="IOB">IOB</option>
                <option value="IRCTC">IRCTC</option>
                <option value="IRFC">IRFC</option>
                <option value="INDIGOPNTS">INDIGOPNTS</option>
                <option value="IGL">IGL</option>
                <option value="INDUSTOWER">INDUSTOWER</option>
                <option value="INDUSINDBK">INDUSINDBK</option>
                <option value="NAUKRI">NAUKRI</option>
                <option value="INFY">INFY</option>
                <option value="INOXWIND">INOXWIND</option>
                <option value="INTELLECT">INTELLECT</option>
                <option value="INDIGO">INDIGO</option>
                <option value="IPCALAB">IPCALAB</option>
                <option value="JBCHEPHARM">JBCHEPHARM</option>
                <option value="JKCEMENT">JKCEMENT</option>
                <option value="JBMA">JBMA</option>
                <option value="JKLAKSHMI">JKLAKSHMI</option>
                <option value="JKPAPER">JKPAPER</option>
                <option value="JMFINANCIL">JMFINANCIL</option>
                <option value="JSWENERGY">JSWENERGY</option>
                <option value="JSWINFRA">JSWINFRA</option>
                <option value="JSWSTEEL">JSWSTEEL</option>
                <option value="JAIBALAJI">JAIBALAJI</option>
                <option value="J&KBANK">J&KBANK</option>
                <option value="JINDALSAW">JINDALSAW</option>
                <option value="JSL">JSL</option>
                <option value="JINDALSTEL">JINDALSTEL</option>
                <option value="JIOFIN">JIOFIN</option>
                <option value="JUBLFOOD">JUBLFOOD</option>
                <option value="JUBLINGREA">JUBLINGREA</option>
                <option value="JUBLPHARMA">JUBLPHARMA</option>
                <option value="JWL">JWL</option>
                <option value="JUSTDIAL">JUSTDIAL</option>
                <option value="JYOTHYLAB">JYOTHYLAB</option>
                <option value="KPRMILL">KPRMILL</option>
                <option value="KEI">KEI</option>
                <option value="KNRCON">KNRCON</option>
                <option value="KPITTECH">KPITTECH</option>
                <option value="KRBL">KRBL</option>
                <option value="KSB">KSB</option>
                <option value="KAJARIACER">KAJARIACER</option>
                <option value="KPIL">KPIL</option>
                <option value="KALYANKJIL">KALYANKJIL</option>
                <option value="KANSAINER">KANSAINER</option>
                <option value="KARURVYSYA">KARURVYSYA</option>
                <option value="KAYNES">KAYNES</option>
                <option value="KEC">KEC</option>
                <option value="KFINTECH">KFINTECH</option>
                <option value="KOTAKBANK">KOTAKBANK</option>
                <option value="KIMS">KIMS</option>
                <option value="LTF">LTF</option>
                <option value="LTTS">LTTS</option>
                <option value="LICHSGFIN">LICHSGFIN</option>
                <option value="LTIM">LTIM</option>
                <option value="LT">LT</option>
                <option value="LATENTVIEW">LATENTVIEW</option>
                <option value="LAURUSLABS">LAURUSLABS</option>
                <option value="LXCHEM">LXCHEM</option>
                <option value="LEMONTREE">LEMONTREE</option>
                <option value="LICI">LICI</option>
                <option value="LINDEINDIA">LINDEINDIA</option>
                <option value="LLOYDSME">LLOYDSME</option>
                <option value="LUPIN">LUPIN</option>
                <option value="MMTC">MMTC</option>
                <option value="MRF">MRF</option>
                <option value="MTARTECH">MTARTECH</option>
                <option value="LODHA">LODHA</option>
                <option value="MGL">MGL</option>
                <option value="MAHSEAMLES">MAHSEAMLES</option>
                <option value="M&MFIN">M&MFIN</option>
                <option value="M&M">M&M</option>
                <option value="MHRIL">MHRIL</option>
                <option value="MAHLIFE">MAHLIFE</option>
                <option value="MANAPPURAM">MANAPPURAM</option>
                <option value="MRPL">MRPL</option>
                <option value="MANKIND">MANKIND</option>
                <option value="MARICO">MARICO</option>
                <option value="MARUTI">MARUTI</option>
                <option value="MASTEK">MASTEK</option>
                <option value="MFSL">MFSL</option>
                <option value="MAXHEALTH">MAXHEALTH</option>
                <option value="MAZDOCK">MAZDOCK</option>
                <option value="MEDPLUS">MEDPLUS</option>
                <option value="METROBRAND">METROBRAND</option>
                <option value="METROPOLIS">METROPOLIS</option>
                <option value="MINDACORP">MINDACORP</option>
                <option value="MSUMI">MSUMI</option>
                <option value="MOTILALOFS">MOTILALOFS</option>
                <option value="MPHASIS">MPHASIS</option>
                <option value="MCX">MCX</option>
                <option value="MUTHOOTFIN">MUTHOOTFIN</option>
                <option value="NATCOPHARM">NATCOPHARM</option>
                <option value="NBCC">NBCC</option>
                <option value="NCC">NCC</option>
                <option value="NHPC">NHPC</option>
                <option value="NLCINDIA">NLCINDIA</option>
                <option value="NMDC">NMDC</option>
                <option value="NSLNISP">NSLNISP</option>
                <option value="NTPC">NTPC</option>
                <option value="NH">NH</option>
                <option value="NATIONALUM">NATIONALUM</option>
                <option value="NAVINFLUOR">NAVINFLUOR</option>
                <option value="NESTLEIND">NESTLEIND</option>
                <option value="NETWORK18">NETWORK18</option>
                <option value="NAM-INDIA">NAM-INDIA</option>
                <option value="NUVAMA">NUVAMA</option>
                <option value="NUVOCO">NUVOCO</option>
                <option value="OBEROIRLTY">OBEROIRLTY</option>
                <option value="ONGC">ONGC</option>
                <option value="OIL">OIL</option>
                <option value="OLECTRA">OLECTRA</option>
                <option value="PAYTM">PAYTM</option>
                <option value="OFSS">OFSS</option>
                <option value="POLICYBZR">POLICYBZR</option>
                <option value="PCBL">PCBL</option>
                <option value="PIIND">PIIND</option>
                <option value="PNBHOUSING">PNBHOUSING</option>
                <option value="PNCINFRA">PNCINFRA</option>
                <option value="PVRINOX">PVRINOX</option>
                <option value="PAGEIND">PAGEIND</option>
                <option value="PATANJALI">PATANJALI</option>
                <option value="PERSISTENT">PERSISTENT</option>
                <option value="PETRONET">PETRONET</option>
                <option value="PHOENIXLTD">PHOENIXLTD</option>
                <option value="PIDILITIND">PIDILITIND</option>
                <option value="PEL">PEL</option>
                <option value="PPLPHARMA">PPLPHARMA</option>
                <option value="POLYMED">POLYMED</option>
                <option value="POLYCAB">POLYCAB</option>
                <option value="POONAWALLA">POONAWALLA</option>
                <option value="PFC">PFC</option>
                <option value="POWERGRID">POWERGRID</option>
                <option value="PRAJIND">PRAJIND</option>
                <option value="PRESTIGE">PRESTIGE</option>
                <option value="PRINCEPIPE">PRINCEPIPE</option>
                <option value="PRSMJOHNSN">PRSMJOHNSN</option>
                <option value="PGHH">PGHH</option>
                <option value="PNB">PNB</option>
                <option value="QUESS">QUESS</option>
                <option value="RRKABEL">RRKABEL</option>
                <option value="RBLBANK">RBLBANK</option>
                <option value="RECLTD">RECLTD</option>
                <option value="RHIM">RHIM</option>
                <option value="RITES">RITES</option>
                <option value="RADICO">RADICO</option>
                <option value="RVNL">RVNL</option>
                <option value="RAILTEL">RAILTEL</option>
                <option value="RAINBOW">RAINBOW</option>
                <option value="RAJESHEXPO">RAJESHEXPO</option>
                <option value="RKFORGE">RKFORGE</option>
                <option value="RCF">RCF</option>
                <option value="RATNAMANI">RATNAMANI</option>
                <option value="RTNINDIA">RTNINDIA</option>
                <option value="RAYMOND">RAYMOND</option>
                <option value="REDINGTON">REDINGTON</option>
                <option value="RELIANCE">RELIANCE</option>
                <option value="RBA">RBA</option>
                <option value="ROUTE">ROUTE</option>
                <option value="SBFC">SBFC</option>
                <option value="SBICARD">SBICARD</option>
                <option value="SBILIFE">SBILIFE</option>
                <option value="SJVN">SJVN</option>
                <option value="SKFINDIA">SKFINDIA</option>
                <option value="SRF">SRF</option>
                <option value="SAFARI">SAFARI</option>
                <option value="SAMMAANCAP">SAMMAANCAP</option>
                <option value="MOTHERSON">MOTHERSON</option>
                <option value="SANOFI">SANOFI</option>
                <option value="SAPPHIRE">SAPPHIRE</option>
                <option value="SAREGAMA">SAREGAMA</option>
                <option value="SCHAEFFLER">SCHAEFFLER</option>
                <option value="SCHNEIDER">SCHNEIDER</option>
                <option value="SHREECEM">SHREECEM</option>
                <option value="RENUKA">RENUKA</option>
                <option value="SHRIRAMFIN">SHRIRAMFIN</option>
                <option value="SHYAMMETL">SHYAMMETL</option>
                <option value="SIEMENS">SIEMENS</option>
                <option value="SIGNATURE">SIGNATURE</option>
                <option value="SOBHA">SOBHA</option>
                <option value="SOLARINDS">SOLARINDS</option>
                <option value="SONACOMS">SONACOMS</option>
                <option value="SONATSOFTW">SONATSOFTW</option>
                <option value="STARHEALTH">STARHEALTH</option>
                <option value="SBIN">SBIN</option>
                <option value="SAIL">SAIL</option>
                <option value="SWSOLAR">SWSOLAR</option>
                <option value="STLTECH">STLTECH</option>
                <option value="SUMICHEM">SUMICHEM</option>
                <option value="SPARC">SPARC</option>
                <option value="SUNPHARMA">SUNPHARMA</option>
                <option value="SUNTV">SUNTV</option>
                <option value="SUNDARMFIN">SUNDARMFIN</option>
                <option value="SUNDRMFAST">SUNDRMFAST</option>
                <option value="SUNTECK">SUNTECK</option>
                <option value="SUPREMEIND">SUPREMEIND</option>
                <option value="SUVENPHAR">SUVENPHAR</option>
                <option value="SUZLON">SUZLON</option>
                <option value="SWANENERGY">SWANENERGY</option>
                <option value="SYNGENE">SYNGENE</option>
                <option value="SYRMA">SYRMA</option>
                <option value="TV18BRDCST">TV18BRDCST</option>
                <option value="TVSMOTOR">TVSMOTOR</option>
                <option value="TVSSCS">TVSSCS</option>
                <option value="TMB">TMB</option>
                <option value="TANLA">TANLA</option>
                <option value="TATACHEM">TATACHEM</option>
                <option value="TATACOMM">TATACOMM</option>
                <option value="TCS">TCS</option>
                <option value="TATACONSUM">TATACONSUM</option>
                <option value="TATAELXSI">TATAELXSI</option>
                <option value="TATAINVEST">TATAINVEST</option>
                <option value="TATAMTRDVR">TATAMTRDVR</option>
                <option value="TATAMOTORS">TATAMOTORS</option>
                <option value="TATAPOWER">TATAPOWER</option>
                <option value="TATASTEEL">TATASTEEL</option>
                <option value="TATATECH">TATATECH</option>
                <option value="TTML">TTML</option>
                <option value="TECHM">TECHM</option>
                <option value="TEJASNET">TEJASNET</option>
                <option value="NIACL">NIACL</option>
                <option value="RAMCOCEM">RAMCOCEM</option>
                <option value="THERMAX">THERMAX</option>
                <option value="TIMKEN">TIMKEN</option>
                <option value="TITAGARH">TITAGARH</option>
                <option value="TITAN">TITAN</option>
                <option value="TORNTPHARM">TORNTPHARM</option>
                <option value="TORNTPOWER">TORNTPOWER</option>
                <option value="TRENT">TRENT</option>
                <option value="TRIDENT">TRIDENT</option>
                <option value="TRIVENI">TRIVENI</option>
                <option value="TRITURBINE">TRITURBINE</option>
                <option value="TIINDIA">TIINDIA</option>
                <option value="UCOBANK">UCOBANK</option>
                <option value="UNOMINDA">UNOMINDA</option>
                <option value="UPL">UPL</option>
                <option value="UTIAMC">UTIAMC</option>
                <option value="UJJIVANSFB">UJJIVANSFB</option>
                <option value="ULTRACEMCO">ULTRACEMCO</option>
                <option value="UNIONBANK">UNIONBANK</option>
                <option value="UBL">UBL</option>
                <option value="UNITDSPR">UNITDSPR</option>
                <option value="USHAMART">USHAMART</option>
                <option value="VGUARD">VGUARD</option>
                <option value="VIPIND">VIPIND</option>
                <option value="VAIBHAVGBL">VAIBHAVGBL</option>
                <option value="VTL">VTL</option>
                <option value="VARROC">VARROC</option>
                <option value="VBL">VBL</option>
                <option value="MANYAVAR">MANYAVAR</option>
                <option value="VEDL">VEDL</option>
                <option value="VIJAYA">VIJAYA</option>
                <option value="IDEA">IDEA</option>
                <option value="VOLTAS">VOLTAS</option>
                <option value="WELCORP">WELCORP</option>
                <option value="WELSPUNLIV">WELSPUNLIV</option>
                <option value="WESTLIFE">WESTLIFE</option>
                <option value="WHIRLPOOL">WHIRLPOOL</option>
                <option value="WIPRO">WIPRO</option>
                <option value="YESBANK">YESBANK</option>
                <option value="ZFCVINDIA">ZFCVINDIA</option>
                <option value="ZEEL">ZEEL</option>
                <option value="ZENSARTECH">ZENSARTECH</option>
                <option value="ZOMATO">ZOMATO</option>
                <option value="ZYDUSLIFE">ZYDUSLIFE</option>
                <option value="ECLERX">ECLERX</option>
            </datalist>


            <label for="ticker_sector">Sector:</label>
            <select id="ticker_sector" name="ticker_sector" value="{{ ticker.ticker_sector }}" required>
                <option value="Automobile">Automobile</option>
                <option value="Banking">Banking</option>
                <option value="Capital Goods">Capital Goods</option>
                <option value="Cement">Cement</option>
                <option value="Chemicals">Chemicals</option>
                <option value="Finance">Finance</option>
                <option value="FMCG">FMCG</option>
                <option value="Index">Index</option>
                <option value="Infrastructure">Infrastructure</option>
                <option value="Media">Media</option>
                <option value="Metals">Metals</option>
                <option value="Oil and Gas">Oil and Gas</option>
                <option value="Pharma">Pharma</option>
                <option value="Power">Power</option>
                <option value="Realty">Realty</option>
                <option value="Technology">Technology</option>
                <option value="Telecom">Telecom</option>
                <option value="Textile">Textile</option>
                <option value="Others">Others</option>
            </select>

            <label for="ticker_sub_sector">Sub-Sector (Optional):</label>
            <input type="text" name="ticker_sub_sector" id="ticker_sub_sector" value="{{ ticker.ticker_sub_sector }}">

            <label for="ticker_market_cap">Market Cap:</label>
            <select id="ticker_market_cap" name="ticker_market_cap" value="{{ ticker.ticker_market_cap }}"  required>
                <option value="Large Cap">Large Cap</option>
                <option value="Mid Cap">Mid Cap</option>
                <option value="Small Cap">Small Cap</option>
            </select>

            <button type="submit">Update</button>
        </form>
        <a href="{% url 'ticker_list' %}">Back to List</a>
    </div>
</body>
</html>
